<!DOCTYPE html>
<html>
  <head>
    <title>Alumini Feedback Ratings</title>
    <link rel="stylesheet" type="text/css" href="css/ratings.css" />
  </head>
  <body>
    <a href="/database"><h1>Alumni Feedback Ratings</h1></a>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <td>Excellent</td>
          <td>Good</td>
          <td>Poor</td>
          <td>Very Poor</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Career Preparation</td>
          <td><%= count.careerPreparation['1'] %></td>
          <td><%= count.careerPreparation['2'] %></td>
          <td><%= count.careerPreparation['3'] %></td>
          <td><%= count.careerPreparation['4'] %></td>
        </tr>

        <tr>
          <td>Campus Culture</td>
          <td><%= count.campusCulture['1'] %></td>
          <td><%= count.campusCulture['2'] %></td>
          <td><%= count.campusCulture['3'] %></td>
          <td><%= count.campusCulture['4'] %></td>
        </tr>

        <tr>
          <td>Campus Resources</td>
          <td><%= count.campusResources['1'] %></td>
          <td><%= count.campusResources['2'] %></td>
          <td><%= count.campusResources['3'] %></td>
          <td><%= count.campusResources['4'] %></td>
        </tr>

        <tr>
          <td>Alumni Engagement</td>
          <td><%= count.alumniEngagement['1'] %></td>
          <td><%= count.alumniEngagement['2'] %></td>
          <td><%= count.alumniEngagement['3'] %></td>
          <td><%= count.alumniEngagement['4'] %></td>
        </tr>

        <tr>
          <td>Diversity and Inclusion</td>
          <td><%= count.diversityAndInclusion['1'] %></td>
          <td><%= count.diversityAndInclusion['2'] %></td>
          <td><%= count.diversityAndInclusion['3'] %></td>
          <td><%= count.diversityAndInclusion['4'] %></td>
        </tr>

        <tr>
          <td>Campus Facilities</td>
          <td><%= count.campusFacilities['1'] %></td>
          <td><%= count.campusFacilities['2'] %></td>
          <td><%= count.campusFacilities['3'] %></td>
          <td><%= count.campusFacilities['4'] %></td>
        </tr>

        <tr>
          <td>Campus Safety</td>
          <td><%= count.campusSafety['1'] %></td>
          <td><%= count.campusSafety['2'] %></td>
          <td><%= count.campusSafety['3'] %></td>
          <td><%= count.campusSafety['4'] %></td>
        </tr>

        <tr>
          <td>Academic Support</td>
          <td><%= count.academicSupport['1'] %></td>
          <td><%= count.academicSupport['2'] %></td>
          <td><%= count.academicSupport['3'] %></td>
          <td><%= count.academicSupport['4'] %></td>
        </tr>

        <tr>
          <td>Student-Faculty Interaction</td>
          <td><%= count.studentFacultyInteraction['1'] %></td>
          <td><%= count.studentFacultyInteraction['2'] %></td>
          <td><%= count.studentFacultyInteraction['3'] %></td>
          <td><%= count.studentFacultyInteraction['4'] %></td>
        </tr>

        <tr>
          <td>Technology Resources</td>
          <td><%= count.technologyResources['1'] %></td>
          <td><%= count.technologyResources['2'] %></td>
          <td><%= count.technologyResources['3'] %></td>
          <td><%= count.technologyResources['4'] %></td>
        </tr>

        <tr>
          <td>Financial Aid and Affordability</td>
          <td><%= count.financialAidAndAffordability['1'] %></td>
          <td><%= count.financialAidAndAffordability['2'] %></td>
          <td><%= count.financialAidAndAffordability['3'] %></td>
          <td><%= count.financialAidAndAffordability['4'] %></td>
        </tr>

        <tr>
          <td>Graduate School Preparation</td>
          <td><%= count.graduateSchoolPreparation['1'] %></td>
          <td><%= count.graduateSchoolPreparation['2'] %></td>
          <td><%= count.graduateSchoolPreparation['3'] %></td>
          <td><%= count.graduateSchoolPreparation['4'] %></td>
        </tr>

        <tr>
          <td>Alumni Network</td>
          <td><%= count.alumniNetwork['1'] %></td>
          <td><%= count.alumniNetwork['2'] %></td>
          <td><%= count.alumniNetwork['3'] %></td>
          <td><%= count.alumniNetwork['4'] %></td>
        </tr>

        <tr>
          <td>Internship Opportunities</td>
          <td><%= count.internshipOpportunities['1'] %></td>
          <td><%= count.internshipOpportunities['2'] %></td>
          <td><%= count.internshipOpportunities['3'] %></td>
          <td><%= count.internshipOpportunities['4'] %></td>
        </tr>

        <tr>
          <td>Extracurricular Opportunities</td>
          <td><%= count.extracurricularOpportunities['1'] %></td>
          <td><%= count.extracurricularOpportunities['2'] %></td>
          <td><%= count.extracurricularOpportunities['3'] %></td>
          <td><%= count.extracurricularOpportunities['4'] %></td>
        </tr>
        <tr>
          <td>Distance Learning Options</td>
          <td><%= count.distanceLearningOptions['1'] %></td>
          <td><%= count.distanceLearningOptions['2'] %></td>
          <td><%= count.distanceLearningOptions['3'] %></td>
          <td><%= count.distanceLearningOptions['4'] %></td>
        </tr>

        <tr>
          <td>Campus Sustainability</td>
          <td><%= count.campusSustainability['1'] %></td>
          <td><%= count.campusSustainability['2'] %></td>
          <td><%= count.campusSustainability['3'] %></td>
          <td><%= count.campusSustainability['4'] %></td>
        </tr>

        <tr>
          <td>Global Perspective</td>
          <td><%= count.globalPerspective['1'] %></td>
          <td><%= count.globalPerspective['2'] %></td>
          <td><%= count.globalPerspective['3'] %></td>
          <td><%= count.globalPerspective['4'] %></td>
        </tr>

        <tr>
          <td>Overall Satisfaction</td>
          <td><%= count.overallSatisfaction['1'] %></td>
          <td><%= count.overallSatisfaction['2'] %></td>
          <td><%= count.overallSatisfaction['3'] %></td>
          <td><%= count.overallSatisfaction['4'] %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
